function scroll(event, ins) {
	console.log(event);
	// var state = ins.getState()
	// if (state.autoplayTimer) {
	// 	ins.clearTimeout(state.autoplayTimer)
	// 	state.autoplayTimer = null
	// }
	// if (state.length < 2 || state.disabledTouch) {
	// 	return
	// }
	// state.isTouch = true
	// state.threshold = 0
	// var touch = event.touches[0] || event.changedTouches[0]
	// state.startX = touch.pageX
	// state.startY = touch.pageY
}
module.exports = {
	scroll: scroll
}